.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 8px;
  text-align: center;

  .not-found-icon {
    font-size: 80px;
    width: 80px;
    height: 80px;
    color: var(--mat-sys-outline);
  }

  h1 {
    font: var(--mat-sys-display-large);
    color: var(--mat-sys-on-surface);
    margin: 0;
  }

  p {
    font: var(--mat-sys-headline-small);
    color: var(--mat-sys-on-surface-variant);
  }
}
