// Theme toggle styles

.lib-theme-preview {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
  border: 2px solid rgba(0, 0, 0, 0.12);
}

.lib-theme-preview-default {
  background-color: #1C2C44;
}

.lib-theme-preview-orange {
  background-color: #F57C00;
}

.lib-theme-preview-purple {
  background-color: #6A1B9A;
}
