// Home styles

.home-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  @media (max-width: 959px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 599px) {
    grid-template-columns: 1fr;
  }
}

:host ::ng-deep mat-card img[mat-card-image] {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
