.sidenav-container {
  height: 100%;
}

.sidenav {
  left: 0px;
  width: 240px;
  border: none;
  border-radius: var(--lib-radius) 0px 0px var(--lib-radius);
  box-sizing: border-box;
}

.sidenav-menu {
  padding: 0 8px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  // border-color: var(--lib-divider-medium);
  border-bottom-left-radius: var(--lib-radius);
  height: calc(100% - var(--lib-toolbar-height));
}

.sidenav-scroll-wrapper {
  height: calc(100dvh - var(--lib-toolbar-height));
  overflow: auto;
  border-bottom: 1px solid;
  border-right: 1px solid;
  // border-color: var(--lib-divider-medium);
  border-end-end-radius: var(--lib-radius);
  box-sizing: border-box;
  background-color: color-mix(in oklab, var(--mat-sys-primary-container) 45%, transparent);

  &.lib-rounded-bottom-left {
    border-left: 1px solid;
  }
}

.sidenav-content {
  border-radius: 0px var(--lib-radius) 0px 0px;

  @media (pointer: fine) {
    &::-webkit-scrollbar-thumb {
      background-color: color-mix(in oklab, var(--mat-sys-secondary) 45%, transparent);
    }
  }
}

.sidenav-content-internal {
  max-height: 100%;
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
}
